<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        deserunt? Magnam, provident molestiae eius fugiat odit natus saepe sit
        totam ut. Dolor neque numquam eum corrupti odio molestias voluptatibus
        accusantium!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        deserunt? Magnam, provident molestiae eius fugiat odit natus saepe sit
        totam ut. Dolor neque numquam eum corrupti odio molestias voluptatibus
        accusantium!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        deserunt? Magnam, provident molestiae eius fugiat odit natus saepe sit
        totam ut. Dolor neque numquam eum corrupti odio molestias voluptatibus
        accusantium!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
